code/data/
**/__pycache__/
DFormer/
logs/
checkpoints/
.vscode/
config/

SynthDet/*
!code/SynthDet/SynthDet/Assets/Scripts/Randomizers/*.cs
!code/SynthDet/SynthDet/Assets/Scripts/RandomizerTags/*.cs
code/SynthDet/SynthDet/Assets/Scripts/Randomizers/*.meta
code/SynthDet/SynthDet/Assets/Scripts/RandomizerTags/*.meta

