code/data/
**/__pycache__/
DFormer/
logs/
checkpoints/
.vscode/
config/
pytorch-deeplab-xception/
SynthDet/
SynthDet_Pascal/
src/
TokenFusion/
UniDepth/
*.txt
*.egg
*.pyc
*.pyd
*.egg-info

*.meta
log.txt

casus/